.css-transform {
    position: relative;
}

.css-transform:after,
.css-transform:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    background: #ffffff;
    z-index: -2;
}

.css-transform:hover {
    z-index: 1;
    background: transparent;
}

.css-transform:before {
    transition: 1.1s;
    background: #dfdfdf;
    z-index: -1;
}

.css-transform:hover:after,
.css-transform:hover:before {
    width: 100%;
}

.nav-translate {
    transform: translateY(80px);
    /**下移元素**/
    -ms-transform: translateY(80px);
    -webkit-transform: translateY(80px);
}

.absolute-nav {
    position: fixed;
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 10px;
}

.home-nav {
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    align-items: center;

    .nav-left {
        font-weight: bold;
        text-align: center;
    }

    .nav-right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 7px 0 0;
    }

    .iconfont {
        display: inline-block;
        vertical-align: middle;
        font-size: 24px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    .router-link-active {
        text-decoration: none;
    }

}

// search
.bar8 {
    form {
        position: relative;
        // width: 300px;
        width: 100%;
        margin: 0 auto;
    }

    input,
    button {
        border: none;
        outline: none;
    }

    input {
        width: 100%;
        height: 42px;
        padding-left: 13px;
    }

    button {
        height: 100%;
        width: 42px;
        cursor: pointer;
        position: absolute;
    }
}

.bar8 {
    background: #ffffff;
}

.bar8 form {
    height: 42px;
}

.bar8 input {
    width: 0;
    padding: 0 42px 0 15px;
    border-bottom: 2px solid transparent;
    background: transparent;
    transition: 0.3s linear;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.bar8 input:focus {
    width: 250px;
    color: black;
    z-index: 1;
    border-bottom: 1.5px solid black;
}

.bar8 button {
    background: transparent;
    top: 0;
    right: 0;
}

.bar8 button:before {
    content: "";
    font-family: FontAwesome;
    font-size: 16px;
    color: black;
}

.mui-slider {
    background-color: #51566A;
    margin-top: 18%;

    .mui-scroll-wrapper {
        height: 46%;
        padding: 0 12%;
        margin-top: 20px;

        li {
            display: inline-block;
            width: 240px;
            margin: 0px 10px 0px;

            .swiper-content {
                width: 100%;
                height: 260px;
                border-radius: 40px;
                margin: auto 0;
                padding: 30% 15%;
                background-color: #3a495a;
                color: white;
                font-size: 24px;
                display: flex;
                flex-direction: column;
                text-align: left;

                .iconfont {
                    font-size: 35px;
                    margin-bottom: 30px;
                }

                p {
                    margin-top: 20px;
                    font-size: 18px;
                }
            }
        }
    }
}

.header-detail {
    width: 100%;

    img {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }

    display: flex;
    align-items: center;

    .user-detail {
        margin: 5px 0 0 20px;
        font-size: 18px;
        line-height: 30px;
    }
}

.vol-detail {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50px;
    padding: 25px;

    .footer-deatil {
        text-align: center;

        img {
            width: 80%;
        }
    }
}
